{% extends 'base.html.twig'%}

{% block search %}
    {{ form_start(searchForm) }}
    <div class="row">
        {{ form_widget(searchForm.title, {'label': " ", 'attr': {'placeholder': 'Search'}}) }}
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        {{ form_end(searchForm) }}
    </div>

{% endblock %}

{% block content %}

    <article class="container">
        <h2 style="text-align: center; padding: 1em">Liste des articles</h2>
        <div class="row">
            {% for article in articles %}
                <div class="col s6 m6 l6">
                    <h3>{{ article.title }}</h3>
                    <p><img src="{{ asset('uploads/' ~ article.picture) }}"></p>
                    <span>Publié le {{ article.publicationDate|date('d/m/y') }}</span></br>
                    <a href="show/{{ article.id }}" class="btn btn-primary">Lire la suite</a>
                </div>
            {% endfor %}
        </div>
    </article>

    <div class="pagination">
        {{ knp_pagination_render(articles) }}
    </div>

                {% endblock %}